.home{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.home-container {
    background-image: url('/hero_banner.png');
  }
  /* .below-logo{
    height: calc(100%-20px);
  } */
.container-full{
  max-width: 1350px;
  margin: auto;
}
.sm-container{
  flex: 0.5;
}
.max-w-half{
  max-width: 50%;

}